@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 0.8;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-9999px);
  }
}
@keyframes heart {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes valid {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes menu__load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/***** CHARGEMENT *****/
.loader {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: loader 0.1s 3s forwards;
}
.loader__bar {
  position: relative;
  height: 100px;
  width: 100px;
  border: 5px solid transparent;
  border-top: 5px solid #9356DC;
  border-radius: 50%;
  animation: spin 1.5s ease-in-out infinite;
}

/**** HEADER *****/
header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px -5px grey;
  position: relative;
}
header .header__logo {
  font-family: "shrikhand", sans-serif;
}
header .header__logo__back {
  position: absolute;
  font-size: 20px;
  left: 20px;
}

footer {
  background: #353535;
}

.about {
  color: white;
  max-width: 900px;
  margin: auto;
  padding: 25px 0 35px 25px;
}
.about__logo {
  font-size: 20px;
  padding-bottom: 20px;
  font-family: "shrikhand", sans-serif;
}
.about__list li {
  display: flex;
}
.about__list a {
  margin: 2px 0;
}
.about__list a:link {
  color: white;
}
.about__list a:visited {
  color: white;
}
.about__list i {
  margin-right: 10px;
}

/***** LOCALISATION *****/
.location {
  height: 50px;
  color: #353535;
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location i {
  margin-right: 16px;
}
.location > p {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

/***** EXPLORER *****/
.explorer {
  background-color: #F6F6F6;
  padding: 40px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explorer h2 {
  margin: 0 70px;
}
.explorer p {
  padding: 15px 35px;
}
.explorer__content {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.explorer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-weight: bold;
  padding: 0 20px;
  border-radius: 40px;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
}
.explorer__button:link {
  color: white;
}
.explorer__button:visited {
  color: white;
}
.explorer__button:hover {
  filter: brightness(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

/***** TUTORIEL *****/
.tutorial {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  list-style-type: none;
  counter-reset: compteliste;
}
.tutorial__list {
  display: flex;
  flex-flow: row wrap;
}
.tutorial__element {
  background: #F6F6F6;
  box-shadow: 5px 5px 10px lightgrey;
  flex-grow: 1;
  display: flex;
  padding: 20px 20px 20px 30px;
  margin: 15px;
  border-radius: 15px;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 900px) {
  .tutorial__element {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .tutorial__element {
    width: 100%;
  }
}
.tutorial__element:hover {
  background: #f2eafb;
}
.tutorial__element:hover i {
  color: #9356DC;
}
.tutorial__element::before {
  counter-increment: compteliste;
  content: counter(compteliste);
  background: #9356DC;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -12px;
}
.tutorial__element i {
  color: grey;
}
.tutorial__element p {
  padding-left: 20px;
}

/*****RESTAURANTS *****/
.restaurant {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
  flex-flow: column wrap;
  background: #F6F6F6;
  border-radius: 30px 30px 0 0;
}
@media screen and (max-width: 767px) {
  .restaurant {
    border-radius: 0;
  }
}
.restaurant__card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  width: 100%;
  margin: 10px 0;
  background: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px lightgrey;
}
@media screen and (min-width: 900px) {
  .card {
    width: 400px;
  }
}
.card__content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__content h3 {
  padding-bottom: 5px;
}
.card__content .heart i {
  font-size: 30px;
  font-weight: 100;
}
.card__content .heart i:hover::before {
  animation: heart 1s ease-in-out;
  font-weight: 900;
  -webkit-background-clip: text;
  background-image: linear-gradient(to left, #9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
}
.card img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.new {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #99E2D0;
  border-radius: 3px;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 500;
  color: #278870;
}

/**** RESTAURANTS ****/
.background__menu {
  width: 100%;
  object-fit: cover;
  height: 800px;
}
@media screen and (max-width: 900px) {
  .background__menu {
    height: 300px;
  }
}

.menus {
  background: #F6F6F6;
  border-radius: 30px 30px 0 0;
  max-width: 900px;
  margin: auto;
  margin-top: -450px;
  padding: 15px;
  position: relative;
}
@media screen and (max-width: 900px) {
  .menus {
    margin-top: -80px;
  }
}
.menus h1 {
  font-family: "shrikhand", sans-serif;
}
.menus__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.menus__title .heart {
  margin-right: 20px;
}
.menus__title .heart i {
  font-size: 30px;
  font-weight: 100;
  cursor: pointer;
}
.menus__title .heart i:hover::before {
  animation: heart 1s ease-in-out;
  font-weight: 900;
  -webkit-background-clip: text;
  background-image: linear-gradient(to left, #9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
}
.menus__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus__button__command {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-weight: bold;
  padding: 0 20px;
  border-radius: 40px;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.menus__button__command:link {
  color: white;
}
.menus__button__command:visited {
  color: white;
}
.menus__button__command:hover {
  filter: brightness(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.menu {
  margin-bottom: 40px;
}
.menu__load {
  animation: menu__load 0.5s forwards;
}
.menu__load__1 {
  animation: menu__load 0.5s 0.1s forwards;
}
.menu__load__2 {
  animation: menu__load 0.5s 0.2s forwards;
}
.menu__load__3 {
  animation: menu__load 0.5s 0.3s forwards;
}
.menu__load__4 {
  animation: menu__load 0.5s 0.4s forwards;
}
.menu__load__5 {
  animation: menu__load 0.5s 0.5s forwards;
}
.menu__load__6 {
  animation: menu__load 0.5s 0.6s forwards;
}
.menu__load__7 {
  animation: menu__load 0.5s 0.7s forwards;
}
.menu__load__8 {
  animation: menu__load 0.5s 0.8s forwards;
}
.menu__load__9 {
  animation: menu__load 0.5s 0.9s forwards;
}
.menu__title {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.menu__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #99E2D0;
  height: 3px;
  width: 35px;
}
.menu__card {
  position: relative;
  height: 65px;
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
  display: flex;
  box-shadow: 5px 5px 10px lightgrey;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
}
.menu__card:hover .menu__card__confirmed {
  margin: -10px;
}
.menu__card:hover i {
  animation: valid 0.5s;
}
.menu__card__description {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card__description > p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card__price {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  margin-right: 20px;
  padding-left: 10px;
}
.menu__card__confirmed {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -11px -75px -10px 5px;
  height: 65px;
  width: 65px;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  transition-duration: 0.5s;
}
.menu__card__confirmed i {
  color: white;
  font-size: 25px;
}

/*# sourceMappingURL=style.css.map */
