@import "./base/reset.scss";
@import "./utils/variables.scss";
@import "./utils/mixins.scss";


header {
    height: 80px;
    @include flex-center;
    box-shadow:5px 5px 10px lightgrey;
    position: relative;
    z-index: 1;
    .header__logo {
        font-family: "shrikhand", sans-serif;
    }
}

.location {
    height: 60px;
    color: $primary-location;
    background: $background-location;
    @include flex-center;
    i {
        margin-right: 1rem;
    }
    > p {
        display: flex;
        justify-content: center;
    }
}