.location {
    height: 50px;
    color: #353535;
    background: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        margin-right: 16px;
    }
    > p {
        display: flex;
        justify-content: center;
        font-weight: bold;
    }
}