/**** RESTAURANTS ****/ 

.background__menu {
    width: 100%;
    object-fit: cover;
    height: 800px;
    @media screen and (max-width: 900px) {
        height: 300px;
    }
    
}

.menus {
    background: $background;
    border-radius: 30px 30px 0 0;
    max-width: 900px;
    margin: auto;
    margin-top: -450px;
    padding: 15px;
    position: relative;
    @media screen and (max-width: 900px) {
        margin-top: -80px;
    }
    h1 {
        font-family: "shrikhand", sans-serif;
    }
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        .heart {
            margin-right: 20px;
            i {
                @include heart-animation;
                cursor: pointer;
            }
        }
    }
    &__button {
        @include flex-center;
        &__command{
            @include btn;
        }
    }
}

.menu {
    margin-bottom: 40px;
    &__load{
        animation: menu__load 0.5s forwards;
        &__1{
            animation: menu__load 0.5s 0.1s forwards;
        }
        &__2 {
            animation: menu__load 0.5s 0.2s forwards;
        }
        &__3 {
            animation: menu__load 0.5s 0.3s forwards;
        }
        &__4 {
            animation: menu__load 0.5s 0.4s forwards;
        }
        &__5 {
            animation: menu__load 0.5s 0.5s forwards;
        }
        &__6 {
            animation: menu__load 0.5s 0.6s forwards;
        }
        &__7 {
            animation: menu__load 0.5s 0.7s forwards;
        }
        &__8 {
            animation: menu__load 0.5s 0.8s forwards;
        }
        &__9 {
            animation: menu__load 0.5s 0.9s forwards;
        }
    }
    &__title {
        position: relative;
        margin-bottom: 15px;
        padding-bottom: 5px;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color:$tertiary;
            height: 3px;
            width: 35px;
        }
    }
    &__card {
        position: relative;
        height: 65px;
        background: white;
        padding: 10px;
        margin: 10px 0;
        border-radius: 15px;
        display: flex;
        box-shadow: 5px 5px 10px lightgrey;
        cursor: pointer;
        overflow: hidden;
        opacity: 0;
        &:hover &__confirmed {
            margin: -10px;
        }
        
        &:hover i {
            animation: valid 0.5s;
        }
        &__description {
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &__price {
            display: flex;
            align-items: flex-end;
            font-weight: bold;
            margin-right: 20px;
            padding-left: 10px;
        }
        &__confirmed {
            @include flex-center;
            margin: -11px -75px -10px 5px;
            height: 65px;
            width: 65px;
            background: $tertiary;
            border-radius: 0 15px 15px 0;
            transition-duration: 0.5s;
            i {
                color: white;
                font-size: 25px;
            }
        }
    }
}


