@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin link-color {
    &:link {
        color: white;
    }
    &:visited {
        color: white;
    }
}

@mixin btn {
    @include flex-center;
    height: 45px;
    font-weight: bold;
    padding: 0 20px;
    border-radius: 40px;
    background-image: $color-gradient;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.25);
    @include link-color;
    &:hover {
        filter: brightness(1.1);
        box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.7);
    }
}