@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin link-color {
    &:link {
        color: white;
    }
    &:visited {
        color: white;
    }
}