/**** HEADER *****/     

header {
    height: 80px;
    @include flex-center;
    box-shadow:5px 5px 10px lightgrey;
    position: relative;
    .header__logo {
        font-family: "shrikhand", sans-serif;
    }
}